<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판 글 작성</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <textarea rows="10" cols="30" id="content" name="content" style="width: 800px; height: 500px;"></textarea>
        <button id="saveBtn">저장</button>
    </div>
<script type="text/javascript" src="/smartEditor/js/HuskyEZCreator.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/common/smartEditor.js"></script>
<script type="text/javascript" src="/js/board/boardWrite.js"></script>
</body>
</html>