<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="signForm" th:action="@{/users/create}" method="post">
    <fieldset>
        <legend>회원가입</legend>

        <label for="userId">ID</label>
        <div>
            <input type="text" id="userId" name="userId" /><br/>
        </div>
        <label for="password">Password </label>
        <div>
            <input type="password" id="password" name="password" />
        </div>
        <div class="form-actions">
            <button type="submit" class="btn">회원가입</button>
        </div>
    </fieldset>
</form>
</body>
</html>