<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a sec:authorize="isAnonymous()" th:href="@{/users/loginPage}">로그인</a>
<a sec:authorize="isAuthenticated()" th:href="@{/board/writeBoardPage}">게시글 작성</a>
<a sec:authorize="isAnonymous()" th:href="@{/users/signPage}">회원가입</a>
<a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
</body>
</html>